.App {
  text-align: center;
}
body{
  background-image: linear-gradient(to right, #ff70A6 , #FFD670);
  font-family:'Open Sans', ;
}

.loginBox{
  background-image: linear-gradient(to right, #ff9770 , #FFD670);
  height: 250px;
  width: 400px;
  margin-top: 300px;
  margin-left: 700px;
  font-family:'Open Sans', ;
  color: white;
  -webkit-box-shadow: 7px 8px 16px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 8px 16px -2px rgba(0,0,0,0.75);
box-shadow: 7px 8px 16px -2px rgba(0,0,0,0.75);
}

button {
  background-color: rgb(100, 98, 98);
  border: none;
  margin-left: 30px;
  color: white;
}

.dashboard{
  /* background-color: white; */
  margin-top: 80px;
}

.searchInput {
  width: 600px;
  height: 20px;
}